
.cover__overplay {
    width: 92.5%;
    height: 740px;
    background: #2A2C2F;
    opacity: 1;
}

@media screen and (max-width:1279px) {

.cover__overplay {
    width: 1024px;
    height: 640px;
}
}

@media screen and (max-width: 1023px) {

.cover__overplay {
    position: relative;
    width: 768px;
    height: 480px;
    margin: 0 auto;
}
}

@media screen and (max-width: 767px) {

.cover__overplay {
    position: relative;
    max-width: 320px;
    height: 200px;
    margin: 0 auto;
}
}