
.lead__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    width: 720px;
    margin: 0 auto;
    text-align: center;
    margin-top: 56px;
    margin-bottom: 32px;
}

@media screen and (max-width:1279px) {

.lead__title {
    margin-top: 48px;
}

}

@media screen and (max-width: 767px) {

.lead__title {
    width: 288px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    margin: auto;
    margin-top: 48px;
    margin-bottom: 16px;
}
}