.cover__title {
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    z-index: 1;
    width: 560px;
    margin: 0 auto 32px auto;
    color: #FFFFFF;
    align-self: center;
    display: block;
}

@media screen and (max-width: 767px) {

.cover__title {
    font-size: 32px;
    line-height: 106%;
    max-width: 250px;
    margin: 0 auto 16px auto;
}
}
