.intro__list {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
}

@media screen and (max-width: 767px) {

.intro__list {
    margin: 0 auto;
    max-width: 288px;
    width: 100%;
}

}