
.place__url-heading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    margin: 0px;
    color: #AAAAAA;
    margin-bottom: 12px;
}

@media screen and (max-width: 1023px) {
    
.place__url-heading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    margin: 0px;
    color: #AAAAAA;
}

}

@media screen and (max-width: 767px) {
    
.place__url-heading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    margin: 0px;
    color: #AAAAAA;
    margin-bottom: 12px;
}
}
    