.place {
    display: grid;
    grid-template-columns: 460px 484px;
    grid-template-rows: 76px 460px;
    grid-template-areas: 
    "a b"
    "c d";
    margin: 0 auto;
    gap: 48px 40px;
    max-width: 984px;
    margin-bottom: 80px;
    background-color: #2A2C2F;
    color: #FFFFFF;
}

.place:nth-child(1) {
    grid-template-rows: 152px 460px;
    margin-top: 92px;
}

.place:nth-child(4) {
    grid-template-rows: 152px 460px;
}

.place:last-of-type {
    margin-bottom: 0px;
}

@media screen and (max-width:1279px) {

.place {
    grid-template-columns: 440px 484px;
    grid-template-rows: 76px 440px;
    gap: 48px 32px;
    max-width: 931px;
}

.place:nth-child(1) {
    grid-template-rows: 152px 440px;
}

.place:nth-child(4) {
    grid-template-rows: 152px 440px;
}

}

@media screen and (max-width: 1023px) {
.place {
    grid-template-columns: 340px 352px;
    grid-template-rows: 46px 460px;
    gap: 48px 28px;
    max-width: 720px;
    margin-bottom: 80px;
}
        
.place:nth-child(1) {
    grid-template-rows: 92px 460px;
    margin-top: 88px;
}
        
.place:nth-child(4) {
    grid-template-rows: 46px 460px;
}

}

@media screen and (max-width: 767px) {
    
.place {
    grid-template-columns: 320px;
    grid-template-areas: 
    "a"
    "b"
    "c"
    "d";
    gap: 32px;
    max-width: 320px;
    margin-bottom: 73px;
    margin-top: 0px;
}
        
.place:nth-child(1) {
    grid-template-rows: 35px 46px 320px 545px;
    margin-top: 0px;
}
    
.place:nth-child(2) {
    grid-template-rows: 35px 46px 320px 519px;
}
    
.place:nth-child(3) {
    grid-template-rows: 35px 46px 320px 493px;
}
    
.place:nth-child(4) {
    grid-template-rows: 35px 46px 320px 467px;
}
    
.place:nth-child(5) {
    grid-template-rows: 35px 46px 320px 468px;
    margin-bottom: 75px;
}
}